<div class="row justify-content-md-center text-center mt-5">
    <form class="col-auto" [formGroup]='registerForm' (ngSubmit)="register()">
        <h1 class="h3 mb-4 fw-normal">Sign Up</h1>
        <div class="form-floating mb-1">
          <input formControlName="username" type="text" class="form-control" placeholder="Username">
          <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating mb-1">
            <input formControlName="email" type="email" class="form-control" placeholder="Email">
            <label for="floatingInput">Email</label>
          </div>
        <div class="form-floating mb-1">
          <input formControlName="password" type="password" class="form-control" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating mb-1">
            <input formControlName="confirmPassword" type="password" class="form-control" placeholder="Confirm Password">
            <label for="floatingPassword">Confirm Password</label>
          </div>
    
        <button [disabled]="!registerForm.valid" class="mt-4 w-100 btn rounded-pill btn-primary" type="submit">Join Silksy</button>
      </form>
</div>