<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
            <a class="navbar-brand" routerLink="/">Silksy</a>
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/products">Shop</a>
                </li>
            </ul>
            <form class="nav-item w-100 d-inline form-gorup">
                <input class="form-control rounded-pill" type="text" placeholder="Search"  style="width:100%;">
            </form>
            <div class="nav-item dropdown" dropdown>
                <a class="dropdown-toggle ml-2" dropdownToggle><i class="fa fa-user fa-lg"></i></a>
                <div class="dropdown-menu" *dropdownMenu>
                <!-- <a class="dropdown-item">Edit Profile</a> -->
                <!-- <div class="dropdown-divider"></div> -->
                <li *ngIf="!(accountService.currentUser$ | async)">
                    <a class="dropdown-item" routerLink="/login">Sign In</a>
                </li>
                <li *ngIf="!(accountService.currentUser$ | async)">
                    <a class="dropdown-item" routerLink="/register">Join</a>
                </li>
                <li *ngIf="accountService.currentUser$ | async">
                    <a class="dropdown-item" routerLink="/orders">My Orders</a>
                </li>
                <li *ngIf="accountService.currentUser$ | async">
                    <a class="dropdown-item" (click)="logout()">Sign Out</a>
                </li>
                </div>
            </div>
            <div class="nav-item">
                <a class="nav-item position-relative" routerLink="/cart">
                    <i class="fa fa-shopping-cart mr-3 fa-lg"><span *ngIf="(shoppingCartService.cartLength$ | async) > 0" class="cartCount">{{ shoppingCartService.cartLength$ | async }}</span>
                    </i>
                </a>
            </div>
    </div>
  </nav>