<p>checkout works!</p>
<section>
    <form id="payment-form" (ngSubmit)="onSubmit($event)">
        <div id="payment-element">
            <!--Stripe.js injects the Payment Element-->
        </div>
        <button id="submit">
            <div class="spinner hidden" id="spinner"></div>
            <span id="button-text">Pay now Mine</span>
        </button>
        <div id="payment-message" class="hidden"></div>
        <div id="error-message">
            <!-- Display error message to your customers here -->
          </div>
    </form>
</section>