<div style="width: 70%; margin: auto">
    <h4 class="mb-3">Shipping Address</h4>
    <form id="payment-form" (ngSubmit)="onConfirmPayment()" [formGroup]="checkoutForm">
        <div class="row g-2">
            <div class="col-12 form-floating mb-1">
                <input formControlName="address" type="text" class="form-control" placeholder="address">
                <label for="floatingInput">Address</label>
            </div>
            <div class="col-12 form-floating mb-1">
                <input formControlName="address2" type="text" class="form-control" placeholder="address2">
                <label for="floatingInput">Address (optional)</label>
            </div>
            <div class="col-md-5 form-floating mb-1">
                <input formControlName="country" type="text" class="form-control" placeholder="country">
                <label for="floatingInput">Country</label>
            </div>
            <div class="col-md-4 form-floating mb-1">
                <input formControlName="city" type="text" class="form-control" placeholder="city">
                <label for="floatingInput">City</label>
            </div>
            <div class="col-md-3 form-floating mb-1">
                <input formControlName="postcode" type="text" class="form-control" placeholder="postcode">
                <label for="floatingInput">Postcode</label>
            </div>
        </div>

        <hr class="my-4">
        <h4 class="mb-3">Payment</h4>
        <div #cardElement class="col-12 mb-2">
            <!--Stripe.js injects the Payment Element-->
           
        </div>

        <hr class="my-4">
        
        <button [disabled]="!checkoutForm.valid || isLoadingPaymentSubmission" class="btn btn-primary btn-block" id="submit">
            <div class="spinner-border text-secondary" *ngIf="isLoadingPaymentSubmission"></div>
            <span id="button-text" *ngIf="!isLoadingPaymentSubmission">Pay now </span>
        </button>
       
        <div *ngIf="stripePaymentMessage" class="col-12 text-error mt-3">
            <span>{{ stripePaymentMessage }}</span>
        </div>
    </form>
</div>