.product-description {
    font-size: 10px;
}

.quantity-options {
    display: block;
    padding: 0px;
}

.product-price {
    padding-top: 5px;
}

select {
    width: 30px;
    text-align: center;
}

button {
    width:120px;
    height:50px;
}