
<div class="row"  *ngIf="cartService.currentCart$ | async">
    <div class="title">
        <div class="row">
            <div class="col">
                <h4><b>Shopping Cart</b></h4>
            </div>
            
        </div>
    </div>
    <div class="col-8 card mr-4">
        <div *ngFor="let item of (cartService.currentCart$ | async).cartItems">
            <app-basket-item [basketItem]="item"></app-basket-item>
        </div>
    </div>
    <div class="col card">
        <div class="mt-2">
            <h5><b>Summary</b></h5>
        </div>
        <hr>
        <div class="row">
            <div class="col align-self-center text-left text-muted">{{(cartService.cartLength$ | async)}} items</div>
            <div class="col text-right">{{(cartService.cartTotal$ | async | currency:'GBP': 'symbol')}}</div>
        </div>
        <hr>
        <h5 class="card-title mb-4"> Total:  {{(cartService.cartTotal$ | async | currency:'GBP': 'symbol')}}</h5>
        <button class="btn btn-primary mb-3" routerLink="/checkout"> Checkout </button>
    </div>
</div>

<div class="container-fluid mt-100" *ngIf="(cartService.currentCart$ | async)===null">
    <div class="row">
        <div class="col-md-12">
                <div class="card-body cart">
                    <div class="col-sm-12 empty-cart-cls text-center"> <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
                        <h3><strong>Your Cart is Empty</strong></h3>
                        <h4>Add something!</h4> <a routerLink="/products" class="btn btn-primary cart-btn-transform m-3" data-abc="true">continue shopping</a>
                    </div>
                </div>
        </div>
    </div>
</div>