<div class="big-image position-relative overflow-hidden p-3 my-md-3 pl-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-2" style="color: white;">
      <h1 class="" style="color: white;">Silksy</h1>
      <div style="width: 50%; margin: auto">
        <p class="lead font-weight-normal">The Connection Between Hair and Happiness</p>
        <a class="btn btn-primary text-mute home-button" routerLink="/products">Shop Now</a>
      </div>
    </div>
</div>

<div class="row my-md-3 pl-md-2">
  <div class="col-md-6 sub-heading-1 justify-content-center d-flex align-items-center" >
   Lovelock
  </div>
  <div class="col-md-6">
    <div class="sub-heading-2 justify-content-center d-flex align-items-center">
      <p>Balance I</p>
    </div>
    <div class="sub-heading-3 justify-content-center d-flex align-items-center">
      <p>Cam Rose</p>
    </div>
  </div>
</div>

<footer class="page-footer font-small unique-color-dark pt-4">

  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <span> Silksy</span>
  </div>
  <!-- Copyright -->

</footer>
